RaptorBackground/Service References/RaptorService/RaptorAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RaptorAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ccs-labs.com:801/RaptorAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ccs-labs.com:801/RaptorAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ccs-labs.com:801/RaptorAPI.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRaptorAPI_CheckEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmail" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_CheckEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_GetLastError_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastError" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_GetLastError_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_SendUrlsToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SendUrlsToClient" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_SendUrlsToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendUrlsToClientResponse" />
  </wsdl:message>
  <wsdl:message name="IRaptorAPI_GetUrlsFromClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUrlsFromClient" />
  </wsdl:message>
  <wsdl:portType name="IRaptorAPI">
    <wsdl:operation name="CheckEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRaptorAPI/CheckEmail" message="tns:IRaptorAPI_CheckEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRaptorAPI/CheckEmailResponse" message="tns:IRaptorAPI_CheckEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRaptorAPI/RegisterUser" message="tns:IRaptorAPI_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRaptorAPI/RegisterUserResponse" message="tns:IRaptorAPI_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRaptorAPI/DeleteUser" message="tns:IRaptorAPI_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRaptorAPI/DeleteUserResponse" message="tns:IRaptorAPI_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastError">
      <wsdl:input wsaw:Action="http://tempuri.org/IRaptorAPI/GetLastError" message="tns:IRaptorAPI_GetLastError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRaptorAPI/GetLastErrorResponse" message="tns:IRaptorAPI_GetLastError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRaptorAPI/Login" message="tns:IRaptorAPI_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRaptorAPI/LoginResponse" message="tns:IRaptorAPI_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendUrlsToClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRaptorAPI/SendUrlsToClient" message="tns:IRaptorAPI_SendUrlsToClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRaptorAPI/SendUrlsToClientResponse" message="tns:IRaptorAPI_SendUrlsToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUrlsFromClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRaptorAPI/GetUrlsFromClient" message="tns:IRaptorAPI_GetUrlsFromClient_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRaptorAPI" type="tns:IRaptorAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/IRaptorAPI/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IRaptorAPI/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IRaptorAPI/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastError">
      <soap:operation soapAction="http://tempuri.org/IRaptorAPI/GetLastError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IRaptorAPI/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUrlsToClient">
      <soap:operation soapAction="http://tempuri.org/IRaptorAPI/SendUrlsToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrlsFromClient">
      <soap:operation soapAction="http://tempuri.org/IRaptorAPI/GetUrlsFromClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RaptorAPI">
    <wsdl:port name="BasicHttpBinding_IRaptorAPI" binding="tns:BasicHttpBinding_IRaptorAPI">
      <soap:address location="http://ccs-labs.com:801/RaptorAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>